<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>thymeleaf內置對象(list、if、loop)</title>
</head>
<body>
    <div>
        <p>#list对象isEmpty方法判断集合整体是否为空aNotEmptyList：
            <span th:text="${#lists.isEmpty(aNotEmptyList)}">测试#lists</span>
        </p>
        <p>#list对象isEmpty方法判断集合整体是否为空anEmptyList：
            <span th:text="${#lists.isEmpty(anEmptyList)}">测试#lists</span>
        </p>
    </div>

    <div>
        <ul>
            <li th:if="${#lists.isEmpty(aNotEmptyList)}">陣列裡面沒東西</li>
            <li th:unless="${#lists.isEmpty(aNotEmptyList)}" th:each="obj : ${aNotEmptyList}" th:text="${obj}">裡面會從list輪循</li>
        </ul>
    </div>
</body>
</html>